
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--  ==========  -->
    <!--  = Slider Revolution =  -->
    <!--  ==========  -->
     <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
                @await Component.InvokeAsync("SliderComponents")
        </div>
        <!--  ==========  -->
        <!--  = Nav Arrows =  -->
        <!--  ==========  -->
        <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
        <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
    </div>
<!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">
                    
                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="https://localhost:44360/Product" class="btn btn-block banner">
                                <span class="title"><span class="light">فروش</span> تابستانی</span>
                                <em>تخفیف 20% برای خدمات نصب</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="https://localhost:44360/Product" class="btn btn-block colored banner">
                                <span class="title"><span class="light">ارسال</span>  رایگان قطعات</span>
                                <em>برای خریداران موتورهای Sassi</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="https://localhost:44360/Product?sorttype=4" class="btn btn-block banner">
                                <span class="title"><span class="light">محصولات</span> جدید</span>
                                <em>از محصولات جدید دیدن کنید.</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>
        
        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->

        @await Component.InvokeAsync("FeaturedComponents")
    </div> <!-- /container -->
    
    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
@await Component.InvokeAsync("NewProductComponents")<!-- /new products -->
    
    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
 @await Component.InvokeAsync("MostPupularComponents")<!-- /most popular -->
    
    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
    	<div class="container">
    	    
    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    		<div class="row">
    			<div class="span12">
    			    <div class="main-titles center-align">
    			        <h2 class="title">
    			            <span class="clickable icon-chevron-right" id="tweetsRight"></span> &nbsp;&nbsp;&nbsp;
    			            <span class="light">آخرین</span> خبر ها &nbsp;&nbsp;&nbsp;
    			            <span class="clickable icon-chevron-left" id="tweetsLeft"></span>
			            </h2>
    			    </div>
    			</div>
    		</div> <!-- /title -->
    		
    		<!--  ==========  -->
			<!--  = News content =  -->
			<!--  ==========  -->
    		<div class="row">
    		    <div class="span12">
    		        <div class="carouFredSel" data-nav="tweets" data-autoplay="false">
    		             
    		                
		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  --> 
                        <div class="slide">
                        	<div class="row">
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">30 تیر 1400</div>
                        		        <h6><a href="#">چگونه از آسانسور خانگی خود نگهداری کنیم؟</a></h6>
                        		        <p>با برنامه ریزی برای تعمیر و نگهداری منظم آسانسور و هماهنگی با یک شرکت تعمیر آسانسور، شما بجای اینکه پس از بروز مشکلات به حل آن‌ها بپردازید، قبل از بروز مشکلات احتمالی از آنها آگاهی دارید. تعمیر و نگهداری مداوم همچنین می‌تواند عملکرد آسانسور را بهبود بخشد و باعث حرکت آسان و سریع‌تر آسانسور شود. </p>
                        		    </div>
                        		</div>
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">27 تیر 1400</div>
                        		        <h6><a href="#">حبس ۱۴ شهروند شهرضایی در آسانسور در هفته گذشته</a></h6>
                        		        <p>رئیس اداره آتش نشانی شهرستان شهرضا از افزایش تماس‌های مردمی هنگام قطعی برق با آتش‌نشانی خبر داد و گفت: قطعی برق طی روزهای گذشته ۱۴ حادثه محبوس شدن در آسانسور را رقم زد.</p>
                        		    </div>
                        		</div>
                        	</div>
                        </div> <!-- /slide -->
                         
    		                
		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  --> 
                        <div class="slide">
                        	<div class="row">
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">28 تیر 1400</div>
                        		        <h6><a href="#">موقع گیر کردن در آسانسور چه کار کنیم؟</a></h6>
                        		        <p>دسه نکته را فراموش نکنید: اول اینکه سعی کنید باتری گوشی‌تان را الکی هدر ندهید تا اگر نیاز به تماس با بیرون داشتید به کمبود باتری بر نخورید. نکته‌ دوم به هیچ‌وجه سعی نکنید از داخل درها را به زور باز کنید .سومین نکته هم این است که به‌ هیچ وجه سعی نکنید خودتان را از دریچه‌ فوقانی آسانسور بیرون بکشید. اگر سعی کنید اینگونه خودتان را نجات دهید ممکن است دچار برق‌گرفتگی شوید.</p>
                        		    </div>
                        		</div>
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">25 تیر 1400</div>
                        		        <h6><a href="#">آسانسوری که در هنگام قطع برق کار میکن!!</a></h6>
                        		        <p>سیستم و تکنولوژی جدید، که نمونه آن برای اولین بار در نمایشگاه بین المللی تهران "توسط گروه پارلیفت" (Paar Lift Group) رونمایی شده، در "یک آسانسور شش نفره"، فقط معادل مصرف یک سشوار معمولی به انرژی برق نیاز دارد، و در صورت قطع برق شبکه سراسری، این آسانسور قادر است تا 200 استارت بدون نیاز به برق شهر ساعتها کار کند و قطع برق شبکه هیچگونه مانعی برای ادامه حرکت آسانسور نخواهد بود.</p>
                        		    </div>
                        		</div>
                        	</div>
                        </div> <!-- /slide -->
                         
                    </div>
    		    </div>
    		</div> <!-- /news content -->
    	</div>
    </div> <!-- /latest news -->
    
    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
	<div class="container blocks-spacer-last">
		
		<!--  ==========  -->
		<!--  = Title =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="main-titles lined">
	                <h2 class="title"><span class="light">برند های</span> ما</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                    </div>
	            </div>
		    </div>
		</div> <!-- /title -->
		
		<!--  ==========  -->
		<!--  = Logos =  -->
		<!--  ==========  -->
		<div class="row">
		    <div class="span12">
		    	<div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                    <img src="images/dummy/brands/brands_01.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_02.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_03.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_04.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_05.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_06.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_07.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_08.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_09.png" alt="" width="203" height="104" />
                    <img src="images/dummy/brands/brands_10.png" alt="" width="203" height="104" />
                </div>
		    </div>
		</div> <!-- /logos -->
	</div> <!-- /brands carousel -->