
@{
    ViewData["Title"] = "adduserrole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


                            @if(ViewBag.Error!= null)
                            {
                            <div class="alert alert-danger">
                                <text>@ViewBag.Error</text>
                            </div>
                            }

