@model Application.Services.Catalogs.CatalogItems.EditColorDto

@{
    ViewData["Title"] = "EditColor";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h6>شما درحال تغییر نام رنگ بندی هستید</h6>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditColor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="hidden" asp-for="Id" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="CatalogItemId" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

