@using Application.Services.Catalogs.CatalogItems
@model List<viZheDto>
@{
    Layout = null;
}

        <div class="row featured-items blocks-spacer">
            <div class="span12">
                
                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
            	<div class="main-titles lined">
            	    <h2 class="title"><span class="light">محصولات</span> ویژه</h2>
            	    <div class="arrows">
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                    </div>
            	</div>
            </div>
            

            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">
                    	 
                    	 
                    	@foreach (var item in Model)
                     {
                             	            	<!--  ==========  -->
    					<!--  = Product =  -->
    					<!--  ==========  -->
    	            	<div class="span4">
    	            	    <div class="product">
    	            	        <div class="product-img featured">
    	            	            <div class="picture">
    	            	        	    <img src="~/@item.ImageSrc" alt="" width="518" height="358" />
    	            	        		<div class="img-overlay">
    	            	        		    <a href="~/product/Detail?Id=@item.Id&&Slug=@item.Slug" class="btn more btn-primary">توضیحات بیشتر</a>
    	            	        		</div>
    	            	            </div>
    	            	        </div>
    	            	        <div class="main-titles">
    	            	            <h4 class="title"> @item.Price.ToString("n0") ریال</h4>
    	            	        </div>
    	            	        <p class="desc">@item.Dec?.Substring(0,30)</p>
    	            	    </div>
                	      </div> <!-- /product -->
                     }
            	        </div>
            	    </div>
            	    <div class="slide">
            	        <div class="row"> <!-- /product -->
    	             </div> 
                	</div>
                </div> <!-- /carousel -->
            </div>
            
        </div>
