@{
    Layout = null;
}

<aside class="span3 left-sidebar">
                    <div class="sidebar-item sidebar-filters" id="sidebarFilters">
                        
                        <!--  ==========  -->
                        <!--  = Sidebar Title =  -->
                        <!--  ==========  -->

                        <div class="underlined">
                        	<h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
                        </div>

                        <!--  ==========  -->
                        <!--  = Categories =  -->
                        <!--  ==========  -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#filterOne">دسته بندی ها <b class="caret"></b></a>
                            </div>
                            <div id="filterOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                <a href="#" data-target=".filter--motor" class="selectable"><i class="box"></i> موتور </a>
<a href="#" data-target=".filter--door" class="selectable"><i class="box"></i>درب </a>
<a href="#" data-target=".filter--cabin" class="selectable"><i class="box"></i> کابین</a>
<a href="#" data-target=".filter--ryl" class="selectable"><i class="box"></i> ریل</a>
<a href="#" data-target=".filter--tablo" class="selectable"><i class="box"></i> تابلو</a>
<a href="#" data-target=".filter--boxel" class="selectable"><i class="box"></i> بکسل</a>
 
                                </div>
                            </div>
                        </div> <!-- /categories -->
                        
                        <!--  ==========  -->
                        <!--  = Prices slider =  -->
                        <!--  ==========  --
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" href="#filterPrices">قیمت <b class="caret"></b></a>
                            </div>
                            <div id="filterPrices" class="accordion-body in collapse">
                                <div class="accordion-inner with-slider">
                                    <div class="jqueryui-slider-container">
                                        <div id="pricesRange"></div>
                                    </div>
                                    <input type="text" data-initial="432" class="max-val span1 pull-right" disabled />
                                    <input type="text" data-initial="99" class="min-val span1" disabled />
                                </div>
                            </div>
                        </div> !-- /prices slider -->
                        
                        <!--  ==========  -->
                        <!--  = Size filter =  -->
                        <!--  ==========  -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterTwo">سایز <b class="caret"></b></a>
                            </div>
                            <div id="filterTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <a href="#" data-target="max" data-type="size" class="selectable detailed"><i class="box"></i> max</a>
<a href="#" data-target="6" data-type="size" class="selectable detailed"><i class="box"></i> 6</a>
<a href="#" data-target="8" data-type="size" class="selectable detailed"><i class="box"></i> 8</a>
<a href="#" data-target="10" data-type="size" class="selectable detailed"><i class="box"></i> 10</a>
<a href="#" data-target="13" data-type="size" class="selectable detailed"><i class="box"></i> 13</a>
<a href="#" data-target="16" data-type="size" class="selectable detailed"><i class="box"></i> 16</a>
 
                                </div>
                            </div>
                        </div> <!-- /size filter -->
                        
                        <!--  ==========  -->
                        <!--  = system filter =  -->
                        <!--  ==========  -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterThree">سیستم <b class="caret"></b></a>
                            </div>
                            <div id="filterThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <a href="#" data-target="gearbox" data-type="system" class="selectable detailed"><i class="box"></i> گیربکس</a>
<a href="#" data-target="gearless" data-type="system" class="selectable detailed"><i class="box"></i> گیرلس</a>
 
                                </div>
                            </div>
                        </div> <!-- /system filter -->
                        
                        <!--  ==========  -->
                        <!--  = Brand filter =  -->
                        <!--  ==========  -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterFour">برند <b class="caret"></b></a>
                            </div>
                            <div id="filterFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <a href="#" data-target="german" data-type="brand" class="selectable detailed"><i class="box"></i> آلمان</a>
<a href="#" data-target="italia" data-type="brand" class="selectable detailed"><i class="box"></i> ایتالیا</a>
<a href="#" data-target="china" data-type="brand" class="selectable detailed"><i class="box"></i> چین</a>
<a href="#" data-target="turkish" data-type="brand" class="selectable detailed"><i class="box"></i> ترکیه</a>
<a href="#" data-target="iran" data-type="brand" class="selectable detailed"><i class="box"></i> ایران</a>
 
                                </div>
                            </div>
                        </div> <!-- /brand filter -->
                        
                        <a href="#" class="remove-filter" id="removeFilters" style="display: none;"><span class="icon-ban-circle"></span> حذف همه فیلتر ها</a>
                        
                    </div>
                </aside>
